@{
    ViewData["Title"] = "About";
}

<div>
    <div class="card" style="margin-bottom: 16px;">
        <div class="card-header">
            Overview
        </div>
        <div class="card-body">
            <h4 class="card-title">An overview of Titanbot</h4>
            <p class="card-text">
                Titanbot is currently an open sourced Discord Bot programmed in .NET and is used by people or clans who play
                <a href="http://www.gamehive.com/games/tap-titans-2" target="_blank">Tap Titans 2</a>
                and can provide useful information about the game. It can also be managed by clans to
                set a timer until their next Clan Quest is up, and much, much more.
            </p>
        </div>
    </div>
    <div class="card" style="margin-bottom: 16px;">
        <div class="card-header">
            The project
        </div>
        <div class="card-body">
            <h4 class="card-title">The open source Titanbot</h4>
            <p class="card-text">
                Titanbot is a bit special, in the case that there is a base component, and a Tap Titans 2 component.
                The base component can be developed to suit the needs of the indidual game and is basically a lightweight implementation
                of a Discord Bot, which contains the base functionality.
                The Tap Titans 2 component is tailored towards showing information about the game. Doing some math for you and most importantly,
                manage the Clan Quests timer.
                <hr />
                Links to the projects: <br />
                <a href="https://github.com/Titansmasher/TitanBot" target="_blank" class="btn btn-primary">The base</a>
                <a href="https://github.com/Titansmasher/TT2Bot" target="_blank" class="btn btn-primary">The extension</a>
                <a href="https://github.com/MildanWorld/Titanbot-Website" target="_blank" class="btn btn-primary">The website</a>

            </p>
        </div>
    </div>
    
    <div class="card" style="margin-bottom: 16px;">
        <div class="card-header">
            Support the project
        </div>
        <div class="card-body">
            <h4 class="card-title">Hosting costs</h4>
            <p class="card-text">
                There is a hosting cost to the Discord bot, where Titansmasher is renting out a server for it to be run 24/7 on.
                If you want to support this hosting cost for it to continue running, you can donate to him
                <a href="https://www.patreon.com/titansmasher" target="_blank">here</a>.
            </p>
            <p class="card-text">
                Currently the hosting of the website is free via <a href="https://www.heroku.com/" target="_blank">Heroku</a>,
                but this may be subject to change since this is the first time Mildan is trying it.
            </p>
        </div>
    </div>
    
    <div class="card" style="margin-bottom: 16px;">
        <div class="card-header">
            The team
        </div>
        <div class="card-body">
            <h4 class="card-title">Titansmasher and Mildan</h4>
            <p class="card-text">
                A brit and a dane, up to no good.
            </p>
        </div>
    </div>
</div>