@{
    ViewData["Title"] = "Home";
}

<div>
    <h1>Welcome to the Titanbot website!</h1>
    <p class="container">
        This website is currently under heavy development, and its usage has not been entirely figured out yet.
        For now it will serve as an information hub, containing information about the commands and how to use them,
        and some basic info like the developers, repository, and how you can support this endeavour.
    </p>
</div>