@{
    ViewData["Title"] = "Home";
}

<div>
    <h1>Welcome to the Titanbot website!</h1>
    <p>
        Do keep in mind that this website is still in very early development, but we decided to release it early
        just for the sake of showing off some examples on how you can invite the bot to your server, configure it,
        and use some of the commands. This can be found in the <a asp-controller="Example" asp-action="Index">Examples</a> page. <br/>
        This page will contain most of the information for now. Additional information about Titanbot, the project,
        the hosting of the bot and website, and the team behind it, can be found in the 
        <a asp-controller="About" asp-action="Index">About</a> page. <br/>
        The website will be updated in the coming weeks, with more content. Until then, the website will function as an
        information hub on how to use the Titanbot via discord. Thank your for your interest, and if you have anything to say at all,
        feel free to come by our Discord guild <a href="http://discord.gg/abQPtHu" target="_blank">Yort Kingdom</a> and have a chat. <br/>
        <span style="font-size: 50%">All complaints must go to Titansmasher though.</span>
    </p>
</div>