@using Titanbot.Web.LoginManagers

@inject CookieSignInManager SignInManager
@inject CookieUserManager UserManager

<li>
    @if (SignInManager.IsSignedIn(User))
    {
    <a asp-controller="Account" asp-action="Logout"
       class="nav-link">
        Hello @UserManager.GetUserName(User)
    </a>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login"
           class="nav-link">
            Login with Discord!
        </a>
    }
</li>