@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>What can you do?</h3>
<p>
    You can try to reload or retry whatever you were doing to see if it randomly works again. <br/>
    However we would very much like you to tell us what happened when you got this error, so we can ensure
    that it doesn't happen to anyone else. Please send us some of this info at out Discord guild
    <a href="http://discord.gg/abQPtHu" target="_blank" class="alert-link">Yort Kingdom</a>.
    If you can replicate the error, please tell us how so we can squash this bug.
</p>